<div class="tray">
  <%= button_to "Sign Out", sign_out_path, method: :delete, form: { style: 'display:flex; margin-left:auto;'}, class: "ui primary button" %>
</div>

<div class="ui container menu">
  <%= link_to "Home", "https://vocado.launchaco.com/", class: "ui item active" %>
  <%= link_to "Demo", app_path, class: "ui item" %>
</div>

<main class="ui container padded center aligned">
  <h1>Team Avocado</h1>

  <p>Easily qualify and submit an application to fund your small business. Get started below:</p>

  <%= link_to "Get Started", app_path, class: "ui primary button" %>

  <div class="ui divider"></div>

  <h2>Business Model</h2>

  <p>Placeholder</p>
</main>
