<main class="ui container padded center aligned">
  <h1>Team Avocado</h1>

  <%= link_to "Get Started", app_path, class: "ui primary button" %>

  <div class="ui divider"></div>

  <h2>Business Model</h2>

  <p>Placeholder</p>
</main>
